html
{
    height: 100%;
   
    
}
.navbar-nav
{
    width: 100%;
    height: 40px;
}
#navl
{
    width: 450px;
    color: white;
    font-size: 25px;
}
#buttn
{
    position: absolute;
    top: 120px;
    right: 100px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
#group
{
    width: 1200px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 150px;
    padding:20px;
    border:2px solid;
    margin:10px;

}
.textOnInput {
    position: relative;
    width: 400px;
    border: 1px solid black;
  
}
.textOnInput label {
    position: absolute;
    top: -15px;
    left: 23px;
    padding: 2px;
    z-index: 1;
    background-color: #fff;
}
.textOnInput label:after {
    content: "  ";
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fff;
}
label {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
    background-color: transparent;
}
.form-control {
    box-shadow: none !important;
    /* box-shadow: 1px 1px 1px 1px black; */
    height: 80px;
    background-color: transparent;
    
}
#group-con
{
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 150px;
    background-color: transparent;
}
#bt1
{
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    width: 70px;
}
#bt2
{
    position: absolute;
    right: 100px;
}